.page {
    margin: 0;
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat.zip);
}

.font_monsterrat {
    font-family: Montserrat, serif;
}

.black_mode {
    background-color: black;
    color: white;
}

.grey_mode {
    background-color: #f9f9f9;
    color: black;
}

.round {
    border-radius: 50%; /* Радиус скругления */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}

.square {
    position: relative;
    width: 50%;
    max-height: 500px;
    max-width: 500px;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.menu {
    display: flex;
}

.white {
    color: white;
}

.menu__link {
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    color: black;
    font-size: 80%;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__half {
    display: flex;
    width: 50%;
}

.menu__half_right {
    margin-left: 30%;
    justify-content: space-evenly;
}

.header {
    width: 100%;
    display: flex;
    min-height: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f9f9f9;
}

.header__paragraph {
    width: 30%;
}

.header__header {
    font-size: 500%;
    margin: 0;
}

@media (max-width: 950px) {
    .header__header {
        font-size: 50px;
    }
}

@media (max-width: 580px) {
    .header__header {
        font-size: 35px;
    }
    .skills__list {
        font-size: 150%;
    }
    .about__paragraph {
        font-size: 150%;
    }
}

@media (max-width: 400px) {
    .header {
        width: 100%;
        display: flex;
        min-height: 800px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: #f9f9f9;
    }
    .about__paragraph {
        font-size: 1%;
        padding: 5% 10% 3% 10%;
    }
}

@media (max-width: 300px) {
    .menu__link {
        font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
        text-decoration: none;
        color: black;
        font-size: 50%;
    }
    .header__header {
        font-size: 170%;
    }
}


@media (max-width: 200px) {
    .menu__link {
        font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
        text-decoration: none;
        color: black;
        font-size: 50%;
    }
    .header__header {
        font-size: 150%;
    }
}

.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 600px;
}

.about__header {
    font-size: 500%;
}

.about__paragraph {
    font-size: 40px;
    padding: 5% 10% 3% 10%;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skills__list {
    font-size: 40px;
}

.skills__header {
    font-size: 50px;
    padding-left: 3%;
}

.footer__img {
    max-height: 25px;
    max-width: 25px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100px;
}
