.form-popup__container {
    margin: auto;
    max-width: 48vw;
    width: 100%;
    background-color: #1F2833;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.16);
    outline: #66FCF1 outset;
    border-radius: 1vw;
}

.form-popup__form_feedback {
    max-width: 44vw;
    width: 100%;
}

.form-popup__header {
    margin-top: 4vh;
    color: #3AAFA9;
    font-size: 1.6vw;
    font-weight: 600;
}

.form-popup__input-container {
    padding: 0;
    margin-top: 4vh;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-popup__label {
    color: #3AAFA9;
    font-size: 1.2vw;
    font-weight: 300;
    padding-bottom: 1vh;
}

.form-popup__input {
    margin-bottom: 2vh;
    font-size: 1vw;
    line-height: 2vh;
    font-family: DialogInput, serif;
    background-color: #DEF2F1;
    border-radius: 0.5vh;
}

.form-popup__submit-button {
    width: 100%;
    height: 4vh;
    margin: 4vh auto;
    color: #2B7A78;
    font-family: inherit;
    font-size: 1.4vw;
    text-align: center;
    padding: 0;
    outline: inset;
    border-radius: 1vh;
}

.form-popup__submit-button:hover {
    opacity: 0.5;
}

.button_inactive {
    color: #DEF2F1;
    opacity: 0.5;
}

.form-popup__error {
    font-weight: 400;
    font-size: 0.8vw;
    margin: auto 0.2vw 2vh;
    color: #f18b8b;
    visibility: hidden;
}

.form-popup__error_active {
    visibility: visible;
}