.popup__image {
    max-width: 75vw;
    max-height: 75vh;
}

.popup__image:hover {
    cursor: grab;
}

.popup__link:hover {
    opacity: 0.8;
}

.popup__link_left {
    width: 4vw;
    height: 4vw;
    display: none;
    /*background-image: url("../../img/buttons/");*/
    background-size: cover;
    cursor: pointer;
}

.popup__link_right {
    width: 4vw;
    height: 4vw;
    display: none;
    /*background-image: url("../../img/buttons/r_a3.png");*/
    background-size: cover;
    cursor: pointer;
}