@import url(blocks/menu.css);
@import url(blocks/header.css);
@import url(blocks/about.css);
@import url(blocks/gallery.css);
@import url(blocks/skills.css);
@import url(blocks/footer.css);
@import url(beer-rain.css);
@import url(popups/feedback_popup.css);
@import url(popups/gallery_popup.css);
@import url(popups/intrusive_popup.css);
@import url(popups/popup.css);

@font-face {
    src : url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
    font-family: 'PlayfairDisplay';
}

.page {
    margin: 0;
    font-weight: normal;
    font-family: PlayfairDisplay, serif;
    transition: 0.4s;
}

.round {
    border-radius: 50%; /* Радиус скругления */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}

.square {
    position: relative;
    width: 50%;
    max-height: 500px;
    max-width: 500px;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.white {
    color: white;
}

.black-mode {
    background-color: black;
    color: white;
}

.grey-mode {
    background-color: #f9f9f9;
    color: black;
}

.white-mode {
    background-color: white;
    color: black;
}

.less-black-mode {
    background-color: #101010;
    color: white;
}

.none {
    display: none;
}